PORT=9000
NODE_ENV=development
LOG_LEVEL=info

CORS_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CORS_CREDENTIALS=true

HELISA_USER=HELISAADMON
HELISA_PASS=
HELISA_SERVER=
HELISA_DB_BASE_PATH=C:\\Helisa\\Data
HELISA_DB_TYPE=S
HELISA_EMPRESA=0

BRIDGE_USER=SYSDBA
BRIDGE_PASS=
BRIDGE_DB_PATH=./database/PURCHASEBRIDGE.FDB

INPUT_DIR=./PurchaseBridge/Input
PROCESSED_DIR=./PurchaseBridge/Processed
